<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row button-group>
      <ion-navbar>
        <ion-col>
            <button ion-button round outline clear>1° Dia</button>
        </ion-col>

        <ion-col>
          <button ion-button round outline clear>2° Dia</button>
        </ion-col>
      </ion-navbar>
    </ion-row>
</ion-content>
