<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SINGEP</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>E-mail</ion-label>
      <ion-input type="email" placeholder="Digite o seu email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>CPF</ion-label>
      <ion-input type="text" placeholder="Digite o seu cpf"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button round (click) = "clicar()">ENTRAR</button>
</ion-content>
